COMPOSE_PROJECT_NAME=lakehouse

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
NESSIE_DB_USER=nessie
NESSIE_DB_PASSWORD=nessie

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_FERNET_KEY=2MYa4t2qTlYnLWvH9voP3_h4U1FCRsPcpK_EacA9cHY=
AIRFLOW_API_AUTH_JWT_SECRET=RlUjGWNGavpTq_9nDgqs-hIynVtYAJ76rOYV8OfbJXmL8BachrFfkvRSb9IAN2c_

SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_SECRET_KEY=h0iJQPbi0p8ojAoCHehyKEoH5sb0XT3fvgLNVSlemvjnS688g-2gKOF-MS0ea_Rm

SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G
